# Ignore specific Objective-C files
*.m linguist-vendored
*.mm linguist-vendored
*.h linguist-vendored

# Ignore Sentry addon native code
addons/sentry/** linguist-vendored

# Or force C# detection
*.cs linguist-language=C#

# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
